.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  
}

.view1{
  height: 50vh;
  width: 50%;
  border: 2px solid violet;
  text-align: center;
}

.login-form{
  text-align: center;
}

